@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat&family=Roboto&display=swap&family=Fredoka+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* body {
    background-color: #f3eaea;
} */

h1,
h2,
h3,
h4 {
  font-family: 'Fredoka One', cursive;
  font-weight: 500;
  letter-spacing: 5px;
}

p {
  font-family: "Crimson Text", serif;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 800px) {
  h2 {
    margin-top: 25px;
  }
}

/* Navigation */

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3%;
  padding: 5px 85px;
  transition: 0.6s;
  z-index: 1;
}

header.sticky {
  background-color: #fff;
  box-shadow: 0 0 5px 0;
}

.logo {
  width: 75%;
  transition: 0.5s;
}

header.sticky .logo {
  width: 50%;
}

nav ul {
  position: relative;
  display: flex;
  list-style: none;
}

nav ul li {
    margin: 10% 15px;
}

nav ul li a {
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 15px;
  letter-spacing: 2px;
  transition: .8s;
}

nav ul li a.active,
nav ul li a:hover {
  background: linear-gradient(to right, #ff0167, #a43430);
}

.hamburger {
  margin-right: auto;
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 45px;
  height: 5px;
  background-color: #000;
  margin: 10px;
  transition: all 0.3s;
}

.nav-collapsed {
  transform: translateX(0);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-16px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-13px, -6px);
}

@media (min-width: 850px) and (max-width: 1100px) {
  header {
    padding: 10px 10px;
  }
}

@media (max-width: 850px) {
  header {
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px 0;
  }
  .logo {
    width: 50%;
  }
  nav ul {
    position: absolute;
    right: 0px;
    top: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: -1;
  }
  nav ul li {
    margin: 0;
    opacity: 0;
    width: 100%;
  }
  nav ul li a {
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 0;
    line-height: 30px;
  }
  .hamburger {
    display: block;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.clouds {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.c1 {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    animation: movingcloud 30s;
    animation-iteration-count: infinite;
}

.c2 {
    animation-delay: 5s;
}

.c3 {
    animation-delay: 10s;
}

.c4 {
    animation-delay: 15s;
}

.c5 {
    animation-delay: 20s;
}

.c6 {
    animation-delay: 25s;
}

@keyframes movingcloud {
    0% {
        transform: scale(1, 1);
        opacity: 0;
    }
    20% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.2;
    }
    100% {
        transform: scale(5, 5);
        opacity: 0;
    }
}

.text {
    padding: 20%;
    font-size: 2rem;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    text-align: center;
}