@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h3 {
  text-align: center;
  font-size: 2em;
}

.heading-underline {
  margin: 15px auto 2rem;
  width: 8rem;
  height: 0.5rem;
  background-color: #5bc0e8;
}

p {
  position: relative;
  margin: 10px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  font-size: 1em;
}

ul {
  list-style: none;
}

/* Navigation */

.container {
  width: 100%;
  background-color: #131414;
  background-image: linear-gradient(135deg, #131414 0%, #000000 100%);
  transform-style: preserve-3d;
  overflow: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  height: 5rem;
}

.menu {
  position: relative;
  margin: 10px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 4rem;
  width: 5rem;
  cursor: pointer;
}

.bar {
  position: relative;
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-9px);
}

.bar::after {
  transform: translateY(9px);
}

.main-container {
  overflow: hidden;
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 2;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.main:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25vh;
  background: url("../img/wave-large.png") center no-repeat;
  background-size: cover;
  z-index: 2;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar::before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar::after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  display: block;
  animation: main-animation 0.5s ease;
  cursor: none;
  transform: perspective(1300px) rotateY(20deg) translateY(10px)
    translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }
  to {
    transform: perspective(1300px) rotateY(20deg) translateY(10px)
      translateZ(310px) scale(0.5);
  }
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  margin-left: 10px;
  width: 30%;
  height: 80vh;
  overflow: hidden;
}

.links a {
  padding: 0.7rem 0;
  display: inline-block;
  text-decoration: none;
  color: #eee;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #5bc0e8;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

ul li.active a {
  color: #5bc0e8;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: #fff;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateY(10px)
    translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }
  5% {
    transform: perspective(1300px) rotateY(20deg) translateY(10px)
      translateZ(310px) scale(0.5);
  }
  100% {
    transform: perspective(1300px) rotateY(20deg) translateY(10px)
      translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateY(10px)
    translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }
  20% {
    transform: perspective(1300px) rotateY(20deg) translateY(10px)
      translateZ(310px) scale(0.5);
  }
  100% {
    transform: perspective(1300px) rotateY(20deg) translateY(10px)
      translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateY(10px)
    translateZ(230px) scale(0.5);
}
.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateY(10px)
    translateZ(340px) scale(0.5);
}

@media (max-width: 800px) {
  .shadow,
  .container.active .main {
    left: -100px;
    transition: 0.5s;
  }
  .links {
    width: 40%;
  }
  .links a {
    font-size: 1.2rem;
  }
  .container.active .main {
    animation: main-animation 0.1s ease;
    cursor: none;
    pointer-events: none;
    transform: perspective(1300px) rotateY(20deg) translateY(10px)
      translateZ(260px) scale(0.5);
  }
}

/* Home */

.video-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 80vh;
  pointer-events: none;
  overflow: hidden;
}

.text {
  margin-bottom: 8%;
  font-family: "Capriola", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  text-align: center;
  letter-spacing: 3px;
  z-index: 2;
}

.button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 3px;
  z-index: 3;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.button:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
  transition-delay: 0.5s;
}

.button:hover:after {
  left: 100%;
}

.button span {
  position: absolute;
  display: block;
  transition: 0.5s ease;
}

.button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
}

.button:hover span:nth-child(1) {
  width: 100%;
  transform: translateX(100%);
}

.button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
}

.button:hover span:nth-child(3) {
  width: 100%;
  transform: translateX(-100%);
}

.button span:nth-child(2) {
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background: #fff;
}

.button:hover span:nth-child(2) {
  height: 100%;
  transform: translateY(100%);
}

.button span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 1px;
  background: #fff;
}

.button:hover span:nth-child(4) {
  height: 100%;
  transform: translateY(-100%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #5bc0e8, #6ca6c1 100%);
  color: #fff;
  opacity: 0.5;
}

@media (max-width: 500px) {
  .video-wrap {
    height: 100vh;
  }
  video {
    height: 100vh;
  }
  .text {
    margin-bottom: 15%;
    font-size: 1em;
  }
  .button {
    padding: 5px 10px;
    font-size: 1em;
    text-align: center;
    z-index: 3;
  }
}

/* About */

#about {
  position: relative;
  background: linear-gradient(to bottom, #fff, #fff8ef, #fff);
}

#about:before {
  content: "";
  position: absolute;
  right: -25%;
  background: url(../img/plane.png) center no-repeat;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: -40%;
  background-size: 60%;
  transform: scale(0.6);
  animation: fly 10s ease-in-out;
}

@keyframes fly {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(0.6);
  }
}

@media (max-width: 1000px) {
  #about:before {
    left: 0;
    height: 70%;
    z-index: -1;
  }
}

/* Services */

#services {
  margin-bottom: -10%;
  padding: 180px 0;
  position: relative;
  background-size: cover;
  overflow: hidden;
  color: #fff;
  background: linear-gradient(145deg, #6ca6c1, #5bc0e8),
    url(../img/bg.jpg) center no-repeat;
}

#services:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 9rem;
  background: url("../img/wave-large-reversed.png") center no-repeat;
  background-size: cover;
  z-index: 1;
}

#services:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25vh;
  background: url("../img/wave-large.png") center no-repeat;
  background-size: cover;
}

#services .heading-underline {
  background-color: #fff !important;
}

.wrapper {
  display: flex;
}

.wrapper:focus {
  outline: 0;
}

.card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  -webkit-box-shadow: -1px 15px 30px -12px black;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.clash-card__image--stanga img {
  animation: up-down 3s linear infinite;
  position: absolute;
  animation-delay: 3s;
  top: -70px;
}

.clash-card__image--dreapta img {
  position: absolute;
  top: -90px;
  animation: loop 5s ease-in-out infinite;
  animation-delay: 3s;
  transform: rotate(-360deg);
}

@keyframes up-down {
  0% {
    top: 0;
  }
  25% {
    top: -75px;
  }
  50% {
    top: -190px;
  }
  75% {
    top: -110px;
  }
  100% {
    top: -70px;
  }
}

@keyframes loop {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.clash-card__image--stanga {
  background: linear-gradient(45deg, #e6feff, #b3d4ff);
}

.clash-card__image--stanga img {
  width: 400px;
  position: absolute;
  left: -70px;
}

.clash-card__image--dreapta {
  background: linear-gradient(45deg, #b8b8ff, #fff8e3);
}

.clash-card__image--dreapta img {
  width: 400px;
  position: absolute;
  top: -90px;
  left: -37px;
}

.card__unit-name {
  font-size: 1.5em;
  color: black;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: "Carter One", sans-serif;
}

.card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a89e84;
  height: 25vh;
}

.clash-card__unit-stats--barbarian {
  background: #ec9b3b;
}

.clash-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #bd7c2f;
}

.clash-card__unit-stats--archer {
  background: #ee5487;
}

.clash-card__unit-stats--archer .one-third {
  border-right: 1px solid #d04976;
}

.card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.card__unit-stats .one-third {
  width: 50%;
  float: left;
  padding: 5px 15px;
}

.card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}

.card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}

.card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}

.card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media (max-width: 800px) {
  .wrapper {
    display: grid;
    grid-gap: 20px;
  }
}

/* Team */

#team {
  position: relative;
  padding: 150px;
}

#team::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: url(../img/wave-large-reversed.png) center no-repeat,
    linear-gradient(90deg, #3e2f5b, #5bc0e8);
  background-size: cover;
}

.profiles {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.profile {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 0px 25px;
  padding: 30px 70px;
}

.picture {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 0;
  z-index: 1;
  position: relative;
}

.picture:before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background: #1785eb;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.2;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.profile:hover .picture:before {
  height: 100%;
}

.profile .picture:after {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: #1785eb;
  z-index: -1;
}

.profile .picture img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.5s;
}

.profile:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  background: #1785eb;
  transform: scale(0.5);
}

.profile-content {
  margin-bottom: 30px;
}

.user-name {
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.post {
  display: block;
  font-size: 15px;
  color: #4e5052;
}

.profile-social {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #1785eb;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.profiles:hover .social {
  bottom: 0;
}

.social li {
  display: inline-block;
}

.social li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.social li a:hover {
  color: #1785eb;
  background: #f7ff5ec;
}

@media (max-width: 700px) {
  #team {
    padding: 50px;
  }
  .profiles {
    flex-direction: column;
  }
  .profile {
    margin-top: 30px;
  }
}

/* Contact */

.clouds {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.clouds:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25vh;
  background: url("../img/wave-large.png") center no-repeat;
  background-size: cover;
  z-index: 2;
}

.c1 {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0;
  animation: movingcloud 30s;
  animation-iteration-count: infinite;
}

.c2 {
  animation-delay: 5s;
}

.c3 {
  animation-delay: 10s;
}

.c4 {
  animation-delay: 15s;
}

.c5 {
  animation-delay: 20s;
}

.c6 {
  animation-delay: 25s;
}

@keyframes movingcloud {
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    transform: scale(5, 5);
    opacity: 0;
  }
}

/* Contact */

#contact {
  display: flex;
  align-items: center;
  height: 80vh;
  background: linear-gradient(90deg, #3e2f5b, #5bc0e8);
}

.contact-container {
  display: flex;
  justify-content: center;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: linear-gradient(90deg, #3e2f5b, #5bc0e8);
  z-index: 1;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.contactInfo h3 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}

.info {
  position: relative;
  margin: 20px 0;
}

.info li {
  display: flex;
  align-items: flex-start;
  position: relative;
  list-style: none;
  margin: 40px 0;
  cursor: pointer;
}

.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

.info li span:nth-child(1) i {
  filter: invert(1);
  max-width: 100%;
  opacity: 0.5;
}

.info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
  opacity: 0.5;
}

.info li:hover span:nth-child(1) i,
.info li:hover span:nth-child(2) {
  opacity: 1;
}

.social {
  margin-top: 25%;
  position: relative;
  display: flex;
  justify-content: center;
}

.social li {
  list-style: none;
  margin-right: 15px;
}

.social li a {
  text-decoration: none;
}

.social li a i {
  opacity: 0.5;
  color: #fff;
  font-size: 3em;
}

.social li a:hover i {
  opacity: 1;
}

.form {
  padding: 40px;
  width: 50%;
  height: auto;
  text-align: center;
  background: #fff;
  color: #000 !important;
}

.form h3 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}

.inputBox {
  margin: 16px 20px;
  display: inline-flex;
  position: relative;
  width: 40%;
}

.inputBox input,
.inputBox textarea {
  width: 100%;
  padding: 5px 0;
  resize: none;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}

.inputBox textarea {
  min-height: 120px;
}

.inputBox label {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  color: #333;
  transition: 0.3s;
  pointer-events: none;
}

.inputBox input:focus ~ label,
.inputBox textarea:focus ~ label,
.inputBox textarea:valid ~ label,
.inputBox textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff568c;
}

.inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #0f3959;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
  transition: 0.5s;
}

.inputBox input[type="submit"]:hover {
  background: #ff568c;
}

@media (max-width: 1000px) {
  #contact {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
  }
  .contact-container {
    width: 100%;
    min-width: auto;
    min-height: auto;
    display: block;
  }
  .responsive {
    margin: auto;
    display: block;
    justify-content: center;
    text-align: center;
  }
  .contactInfo {
    position: relative;
    text-align: center;
    padding: 10% 0;
    width: 100%;
  }
  .form {
    position: relative;
    margin: 0;
    padding: 50px;
    width: 100%;
    text-align: center;
  }
  .inputBox input {
    width: 100%;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #000;
}

footer:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 25vh;
  background: url(../img/wave-large.png) center no-repeat,
    linear-gradient(90deg, #3e2f5b, #5bc0e8);
  background-size: cover;
  z-index: 1;
  opacity: 1 !important;
}

footer p {
  margin: 9% 0 0 1%;
  z-index: 2;
}

@media (max-width: 500px) {
  footer p {
    margin-top: 25%;
  }
}
